body {
    margin: 0px;
    color: #40514E;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

hr {
    border-style: dotted;
    border-width: 8px 0 0 0;
    border-color: #EAF6F6;
    width: 4%;
    margin: 20px;
}

h1 {
    font-size: 3em;
    color: #66BFBF;
    margin: 50px auto 50px auto;
}

h2 {
    color: #66BFBF;
    font-size: 2.5rem;
    font-weight: normal;
}

h3, a {
    color: #11999E;
}

.top {
    background-color: #EAF6F6;
    position: relative;
    padding: 100px 10% 0px 10%;

}

.info {
    width: 35%;
    margin: 0 auto 50px auto;
}

.bottom-cloud {
    position: absolute;
    bottom: 300px;
    left: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

#profile-pic {
    margin-top: 20px;
    border-radius: 60%;
}

.skills-gif {
    width: 25%;
    padding-right: 30px;
    float: left;
}

.chili-pic {
    width: 25%;
    float: right;
    padding-left: 30px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.middle-container {
    padding-bottom: 30px;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px;
}

a {
    color: #11999E;
    padding: 0 25px 0 25px;
    text-decoration: none;
}

a:hover {
    color: #FFFFFF;
}

.footer-text {
    color: #EAF6F6;
    font-size: .75rem;
    padding-top: 20px;
}

.btn {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 16px;
    font-weight: 100;
    padding: 10px;
    background-color: #398B8B;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}